pkgbase = msty-studio-bin
	pkgdesc = Desktop AI workflow application (Local/Private) (client-bin, verified with clean chroot + ldd checks)
	pkgver = 2.7.4
	pkgrel = 5
	url = https://msty.ai/
	install = msty-studio-bin.install
	arch = x86_64
	license = custom:proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = atk
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon
	depends = libxrandr
	depends = libxrender
	depends = libxshmfence
	depends = mesa
	depends = nss
	depends = pango
	optdepends = cuda: NVIDIA GPU acceleration
	optdepends = rocm-core: AMD GPU acceleration
	optdepends = docker: Intel GPU acceleration (via ipex-llm container workaround)
	optdepends = libpulse: Support for Voice-to-Text and Text-to-Voice features
	optdepends = ollama: Use system-wide Ollama instead of the bundled version
	provides = msty-studio
	conflicts = msty-studio
	conflicts = msty
	conflicts = msty-bin
	source = MstyStudio_amd64_2.7.4.deb::https://next-assets.msty.studio/app/latest/linux/MstyStudio_amd64.deb?ver=2.7.4
	sha256sums = 8a0de485494809d25c5d084cb055b0c0f4e4195f409cef14364b6c4dddb8ca3f

pkgname = msty-studio-bin
